body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(234, 241, 241);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles for the footer */
/* change color assignments as needed */

.footer-container {
  align-items: center;
  display: flex;
  background-color: darkcyan;
  color: black;
  height: 100px;
}

.footer-container > p {
  padding-left: 10px;
}

.footer-container > button {
  margin-left: auto;
  width: 10%;
  margin-right: 25px;
}

.footer-container > a {
  padding-right: 15px;
}

.footer-container > a > img {
  width: 40px;
}

