
.donate-container > h1 {
    text-align: center;
    padding-bottom: 25px;
}

.donation-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.donation-flex-container > .monetary-donation, .item-donation {
    width: 500px;
}

/* donation form styles section */

.donation-form {
    display: flex;
    padding-top: 25px;
    padding-bottom: 50px;
    flex-direction: column;
    width: 100%;
}

.donation-form > input {
    margin-top: 10px;
    height: 30px;
    border: 2px solid black;

}

section#donation-form-container {
    padding-top: 50px;
    text-align: center;
}

.donation-form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}