
.donate-container > h1 {
    text-align: center;
    padding-bottom: 25px;
}

.donation-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.donation-flex-container > .monetary-donation, .item-donation {
    width: 500px;
}

.monetary-donation > button {
    height: 45px;
    width: 75px;
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
}

.monetary-donation > button:hover {
    background-color: rgb(8, 172, 172);
}

/* donation form styles section */

.donation-form {
    display: flex;
    padding-top: 25px;
    padding-bottom: 50px;
    flex-direction: column;
    width: 100%;
}

.donation-form > input {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 40px;
    width: 80%;
}

section#donation-form-container {
    padding-top: 50px;
    text-align: center;
}

.donation-form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h2#thanks-footer {
    padding-bottom: 40px;
}