
.homepage-container > .header-container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 95%;
    justify-content: space-evenly;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 490px;
}

.homepage-container > .header-container > h2 {
   flex-shrink: 1;
   display: block;
   margin-top: 60px;
   max-width: 550px;
   /* this is the font color for the header, consider changing. */
   color: #737070;
}