/* nav styles */

.navbar-container {
    display: flex;
    top: 0;
    flex-direction: row;
    align-items: center;
    height: 100px;
    font-size: large;
    background-color: grey;
    color: black;
}

.navbar-container > p {
    padding-left: 10px;
}

.navbar-container > button {
    margin-right: 10px;
    width: 100px;
    height: 50%;
}

.navbar-container > button#home-btn {
    margin-left: auto;
}

/* root */

#root {
    color: #737070;
    background: linear-gradient(360deg, #ffffff 10%, #eceaf5 360% );
    /*background: linear-gradient(360deg, #f1f5f5 10%, #eee9e9 360% );*/
}