
.help-request-container > h3 {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.request-help-form {
    display: flex;
    flex-direction: column;
}

.request-help-form > input {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 80%;
}