
.sponsors-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    border: 5px solid black;
}

.sponsors-flex > img {
    width: 15%;
    height: auto;
}

.sponsor-header {
    width: 75%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}