.volunteer-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.volunteer-container > div > p, h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.volunteer-form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.volunteer-form-container > input {
    margin-top: 10px;
}